.header {
  display: block;
  width: 100%;
  background: url("./../img/header-bg.png") center 60px no-repeat;
  margin-bottom: 71px;
  /*_______________NAVIGATION________*/
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__logo {
    display: flex;
    width: 100%;
    max-width: 169px;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-picture {
    display: block;
    &.-name {
      margin-bottom: 6px;
    }
  }
  &__navigation-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navigation-links {
    display: block;
  }
  &__link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    color: $black;
    border-bottom: 2px solid transparent;
    padding: 5px 0 2px;
    &:before {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      content: "";
      background-size: cover;
      left: -25px;
    }
    &.-feed {
      &:before {
        background: url("./../img/header-feed-icon.png") no-repeat;
      }
    }
    &.-composition {
      margin-left: 59px;
      &:before {
        background: url("./../img/header-composition-icon.png") no-repeat;
      }
    }
    &.-payment {
      margin-left: 70px;
      &:before {
        width: 25px;
        background: url("./../img/header-delivery-icon.png") no-repeat;
        left: -32px;
      }
    }
    &:hover {
      transition: 0.2s;
      border-color: #30dbd8;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &__order-button {
    display: block;
    margin-top: 6px;
    margin-left: 72px;
    padding: 7px 42px 12px;
    border-radius: 15px;
    background-color: #47ccc8;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: $white;
    box-shadow: inset 0px -3px 0 0 #1D8D8A;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      background-color: #1D8D8A;
      box-shadow: inset 0px 3px 0 0 #47ccc8;
    }
  }
  /*________MAIN-CONTAINER________*/
  &__general-container {
    display: block;
  }
  /*______________left-side____*/
  &__description {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 550px;
  }
  &__banner {
    margin: 56px 0 49px;
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -1.1px;
    color: $white;
    span {
      font-size: 50px;
      letter-spacing: -1.25px;
    }
  }
  &__features {
    display: block;
    position: relative;
    width: 100%;
    max-width: 290px;
    color: $white;
    padding-left: 46px;
    counter-reset: features;
  }
  &__feature {
    display: block;
    margin-bottom: 32px;
    &:before {
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 12px;
      background-color: #47ccc8;
      position: absolute;
      text-align: center;
      font-size: 19px;
      font-weight: 700;
      line-height: 28.41px;
      left: 2px;
      content: counter(features);
      counter-increment: features;
    }
    p {
      display: block;
      font-size: 26px;
      font-weight: 900;
    }
    span {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }
  }
  /*______________right-side____*/
  /*____product*/
  &__order-product {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-top: 38px;
    left: -28px;
    font-size: 0;
  }
  &__product-box {
    display: inline-block;
    width: 100%;
    max-width: 407px;
    position: relative;
    left: -20px;
    z-index: 2;
  }
  &__man {
    display: block;
    position: relative;
  }
  &__product {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: -75px;
    left: -139px;
  }
  /*_____form-box*/
  &__order-form {
    display: inline-block;
    vertical-align: top;
    margin-top: 104px;
    margin-left: -94px;
    position: relative;
  }

}
/*____________FORM________*/
.order-form {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 300px;
  padding: 23px 26px 30px;
  background-color: $white;
  border-radius: 5px;
  &:before {
    display: block;
    width: 42px;
    height: 147px;
    position: absolute;
    content: "";
    background: url("./../img/form-arrow.png") no-repeat;
    background-size: cover;
    top: 86px;
    right: -22px;
  }
  &__price-box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  &__price {
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: $red;
    .x_price_current {
      font-size: 40px;
    }
    .x_currency {
      font-size: 16px;
      font-weight: 400;
    }
    &.-old {
      color: #afafaf;
      .x_price_previous {
        font-size: 34px;
        line-height: 43px;
        font-weight: 400;
        text-decoration: line-through;
      }
    }
    p {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  /*______________timer__*/
  &__ever-timer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__timer-title {
    display: block;
    margin: 6px auto 0;
    text-align: center;
    color: #5d6693;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
  }
  &__num-box {
    display: block;
    width: 50px;
    span {
      display: inline-block;
      padding: 5px 12px;
      background-color: #5d6693;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: -1.01px;
      color: $white;
      border-radius: 10px;
    }
    &.-center {
      position: relative;
      margin: 0 16px;
      &:before {
        display: block;
        position: absolute;
        content: ":";
        font-size: 25px;
        font-weight: 900;
        top: 11px;
        right: 55px;
        color: #5d6693;
      }
      &:after {
        display: block;
        position: absolute;
        content: ":";
        font-size: 25px;
        font-weight: 900;
        top: 11px;
        right: -10px;
        color: #5d6693;
      }
    }
  }
  &__button {
    display: block;
    margin: 0 auto;
  }
  &__secure {
    display: block;
    position: relative;
    margin: 24px auto 0;
    text-align: center;
    padding-left: 27px;
    color: $red;
    &:before {
      display: block;
      position: absolute;
      width: 18px;
      height: 20px;
      content: "";
      background: url("./../img/form-safe.png") no-repeat;
      background-size: cover;
      left: 29px;
      top: -3px;
    }
  }
}
@media all and (max-width: 1233px){
  .order-form:before {
    display: none;
  }
}
@media all and (max-width: 1199px){
  .header {
    &__description {
      max-width: 399px;
    }
    &__banner {
      font-size: 38px;
    }
    &__product {
      width: 100%;
      max-width: 340px;
      left: -62px;
    }
    &__order-form {
      vertical-align: top;
      margin-top: 84px;
      margin-left: -110px;
    }
  }
}
@media all and (max-width: 1023px) {
  .header {
    margin-bottom: 40px;
    &__general-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;

    }
    &__order-button {
      margin-left: 20px;
    }
    &__description {
      display: block;
      max-width: unset;
      text-align: center;
    }
    &__banner {
      margin: 33px 0 20px;
      span {
        font-size: 40px;
      }
    }
    &__features {
      display: flex;
      max-width: unset;
      padding-left: 0;
    }
    &__feature {
      width: 100%;
      max-width: 293px;
      &:before {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__order-product {
      display: block;
      margin-top: 3px;
    }
    &__order-form {
      display: block;
       margin-top: 40px;
      margin-left: unset;
    }
    &__product-box {
      margin-left: 0;
      max-width: 335px;
      left: 0;
    }
    &__product {
      left: 95px;
      bottom: -50px;
    }
  }
}
@media all and (max-width: 767px) {
  .header {
    margin-bottom: 20px;
    padding-bottom: 30px;
    &__navigation-links {
      display: none;
    }
    &__order-button {
      margin-left: 0;
    }
    &__feature {
      p {
        margin-top: 10px;
        font-size: 24px;
      }
    }
    &__man {
      display: none;
    }
    &__order-product {
      left: unset;
    }
    &__product {
      max-width: 300px;
      margin-top: 70px;
      position: relative;
      left: 21px;
      bottom: unset;
    }
    &__order-form {
      margin-top: 0;
      padding: 10px 26px 20px;
    }

  }
}
@media all and (max-width: 639px) {
  .header {
    background-size: cover;
    background-position: center 50px;
    &__navigation {
      margin-top: 0;
    }
    &__logo {
      transform: scale(0.8);
    }
    &__banner {
      margin: 15px 0;
      font-size: 30px;
      line-height: 34px;
    }
    &__features {
      flex-direction: column;
    }
    &__feature {
      margin: 0 auto 20px;
      p {
        font-size: 22px;
      }
    }
    &__product {
      margin-top: 0;
    }
    &__product-box {
      max-width: 300px;
      left: unset;
    }
  }
}
@media all and (max-width: 479px) {
  .header {
    &__banner {
      font-size: 25px;
      span {
        font-size: 30px;
      }
    }
    &__product-box {
      max-width: 275px;
    }
  }
}