<section class="header">
    <div class="container">
        <div class="header__navigation">
                <div class="header__logo">
                    <img src="./img/logo.svg" alt="logo" class="header__logo-picture">
                    <img src="./img/logo-name.png" alt="logo" class="header__logo-picture -name">
                </div>
                <div class="header__navigation-items">
                    <div class="header__navigation-links">
                        <a href="#feed" class="header__link -feed">Отзывы</a>
                        <a href="#composition" class="header__link -composition">Состав</a>
                        <a href="#delivery" class="header__link -payment">Оплата и доставка</a>
                    </div>
                    <span class="header__order-button ever-popup-btn">Заказать</span>
                </div>
        </div>
        <div class="header__general-container">

            <!--_______LEFT-SIDE_______-->
            <div class="header__description">
                <h1 class="header__banner">Средство <span>2 </span>в<span> 1</span>:
                    мощный&nbsp;антиоксидант
                    и&nbsp;восстановление&nbsp;суставов
                </h1>
                <div class="header__features">
                    <div class="header__feature">
                        <p>Анестетик</p>
                        <span>быстро снимает&nbsp;боль</span>
                    </div>
                    <div class="header__feature">
                        <p>Антиоксидант</p>
                        <span>останавливает разрушение&nbsp;суставов</span>
                    </div>
                    <div class="header__feature">
                        <p>Регенерация</p>
                        <span>восстанавливает функции&nbsp;суставов</span>
                    </div>
                </div>
            </div>

            <!--_______RIGHT-SIDE_______-->
            <div class="header__order-product">
                <div class="header__product-box">
                    <div class="header__man">
                        <img src="./img/header-ded.png" alt="oldman">
                    </div>
                    <div class="header__product">
                        <img src="./img/product.png" alt="product">
                    </div>
                </div>
            </div>

            <div class="header__order-form order-form">
                <div class="order-form__price-box">
                    <div class="order-form__price -old">
                        <p>Старая цена:</p>
                        <div class="order-form__price-value">
                            <span class="x_price_previous ">1980</span> <span class="x_currency">руб</span>
                        </div>
                    </div>
                    <div class="order-form__price">
                        <p>Новая цена:</p>
                        <div class="order-form__price-value">
                            <span class="x_price_current">990</span> <span class="x_currency">руб</span>
                        </div>
                    </div>
                </div>
                <p class="order-form__timer-title">Осталось до конца акции:</p>
                <div class="order-form__ever-timer">
                    <div class="order-form__num-box">
                        <span class="hours">00</span>
                    </div>
                    <div class="order-form__num-box -center">
                        <span class="minutes">22</span>
                    </div>
                    <div class="order-form__num-box">
                        <span class="seconds">14</span>
                    </div>
                </div>
                <button class="order-form__button red-button ever-popup-btn">
                    Заказать
                    <span>со скидкой</span>
                </button>
                <p class="order-form__secure">Ваши данные защищены!</p>
            </div>
        </div>
    </div>
</section>