<section class="sertificate block">
    <div class="container">
        <h2 class="sertificate__title title">Пантофлекс сертифицирован согласно
            международным стандартам
        </h2>
        <div class="sertificate__items-box">
            <div class="sertificate__item">
                <div class="sertificate__zoom-icon">
                    <img src="./img/zoom.png" alt="zoom">
                </div>
                <img src="./img/sert1.jpg" alt="sertificate">
            </div>
            <div class="sertificate__item">
                <div class="sertificate__zoom-icon">
                    <img src="./img/zoom.png" alt="zoom">
                </div>
                <img src="./img/sert2.jpg" alt="sertificate">
            </div>
            <div class="sertificate__item">
                <div class="sertificate__zoom-icon">
                    <img src="./img/zoom.png" alt="zoom">
                </div>
                <img src="./img/sert3.jpg" alt="sertificate">
            </div>


            <div class="sertificate__item">
                <div class="sertificate__zoom-icon">
                    <img src="./img/zoom.png" alt="zoom">
                </div>
                <img src="./img/sert4.jpg" alt="sertificate">
            </div>
        </div>
    </div>
    <!--zoom-popup-->
    <div class="zoom-popup">
    </div>
</section>