<section class="usage block">
    <div class="container">
        <h2 class="title usage__title">Как применять Pantoflex</h2>

        <div class="usage__content">

            <div class="usage__item">
                <div class="usage__img">
                    <img src="img/usage-1.png" alt="">
                </div>
                <div class="usage__descr">Небольшое количество крема наносите 2-3 раза в день</div>
            </div>

            <div class="usage__item">
                <div class="usage__img">
                    <img src="img/usage-2.png" alt="">
                </div>
                <div class="usage__descr">Втирайте круговыми<br> движениями</div>
            </div>

            <div class="usage__item">
                <div class="usage__img">
                    <img src="img/usage-3.png" alt="">
                </div>
                <div class="usage__descr">Подождите 1 минуту пока<br> крем впитается</div>
            </div>

            <div class="usage__item">
                <div class="usage__img">
                    <img src="img/usage-4.png" alt="">
                </div>
                <div class="usage__descr">Применять не менее<br> 30 дней!</div>
            </div>
        </div>
    </div>
</section>