<section class="operation operation-middle block">
    <div class="container">
        <div class="operation__middle">
            <h2 class="title">Эндопротезирование – дорогостоящая операция<br> с&nbsp;высокими рисками!</h2>

            <div class="operation__middle-items">

                <div class="operation__middle-item">
                    <div class="operation__middle-img operation__middle-img-1"><img src="img/operation_2-1.jpg" alt=""></div>
                    <p class="operation__middle-descr">Послеоперационные осложнения:<br>
                        гнойно-воспалительные процессы, тромбозы</p>
                </div>

                <div class="operation__middle-item">
                    <div class="operation__middle-img operation__middle-img-2"><img src="img/operation_2-2.jpg" alt=""></div>
                    <p class="operation__middle-descr">Длительная и дорогая<br>
                        реабилитация</p>
                </div>

                <div class="operation__middle-item">
                    <div class="operation__middle-img operation__middle-img-3"><img src="img/operation_2-3.jpg" alt=""></div>
                    <p class="operation__middle-descr">Необходимость повторных<br>
                        операций</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="operation operation-bottom block">
    <div class="container">
        <div class="operation__bottom">
            <h2 class="operation__bottom-title">Чтобы избежать операции,<br> начните вовремя лечить<br> суставы!</h2>
            <button class="red-button operation__button"><a class="ever-popup-btn">Заказать <span>Pantoflex</span></a></button>
        </div>
    </div>
</section>