<section class="help help-top block">
    <div class="container">

        <div class="help__top">
            <h2 class="title">Ваши суставы просят о помощи?</h2>
            <p class="subtitle">Вы замечаете первые симптомы болезней суставов:</p>

            <div class="help__top-items">

                <div class="help__top-item">
                    <div class="help__top-img"><img src="img/help_1-1.png" alt=""></div>
                    <p class="help__top-descr">Скованность<br> по утрам</p>
                </div>

                <div class="help__top-item">
                    <div class="help__top-img"><img src="img/help_1-2.png" alt=""></div>
                    <p class="help__top-descr">Ломота<br> при смене погоды</p>
                </div>

                <div class="help__top-item">
                    <div class="help__top-img"><img src="img/help_1-3.png" alt=""></div>
                    <p class="help__top-descr">Неприятный хруст<br> и пощелкивание</p>
                </div>

                <div class="help__top-item">
                    <div class="help__top-img"><img src="img/help_1-4.png" alt=""></div>
                    <p class="help__top-descr">Образование припухлости</p>
                </div>

                <div class="help__top-item">
                    <div class="help__top-img"><img src="img/help_1-5.png" alt=""></div>
                    <p class="help__top-descr">Ограниченность движений</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="help help-middle block">
    <div class="container">
        <div class="help__middle">
            <h2 class="title">Возможно, вам уже диагностировали болезнь:</h2>

            <div class="help__middle-items">

                <div class="help__middle-item">
                    <div class="help__middle-img help__middle-img-1"><img src="img/help_2-1.jpg" alt=""></div>
                    <h4 class="help__middle-title">Воспалительные процессы</h4>
                    <p class="help__middle-descr">артрит, артропатия, болезнь Стилла, периартрит, подагра</p>
                </div>

                <div class="help__middle-item">
                    <div class="help__middle-img help__middle-img-2"><img src="img/help_2-2.jpg" alt=""></div>
                    <h4 class="help__middle-title">Разрушение суставов</h4>
                    <p class="help__middle-descr">артроз, гидрартроз, гонартроз, коксартроз, остеоартроз, спондилоартроз</p>
                </div>

                <div class="help__middle-item">
                    <div class="help__middle-img help__middle-img-3"><img src="img/help_2-3.jpg" alt=""></div>
                    <h4 class="help__middle-title">Болезни околосуставных тканей</h4>
                    <p class="help__middle-descr">бурсит, гигрома, фиброзит, тендинит, анкилоз, артралгия</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="help help-bottom block">
    <div class="container">
        <div class="help__bottom">
            <h2 class="help__bottom-title">Даже один<br> из перечисленных симптомов&nbsp;—<br> повод начать лечение!</h2>
            <button class="red-button help__button"><a class="ever-popup-btn">Заказать <span>Pantoflex</span></a></button>
        </div>
    </div>
</section>