<section class="danger block" id="delivery">
    <div class="container">
        <h2 class="danger__title">Остерегайтесь подделок!
            <span>Заказывайте оригинальный Pantoflex на нашем сайте</span>
        </h2>
        <div class="danger__items-box">
            <div class="danger__item">
                <div class="danger__icon">
                    <img src="./img/danger-icon3.png" alt="icon">
                </div>
                <p class="danger__icon-text -request">
                    Оставьте заявку на нашем сайте
                </p>
            </div>
            <div class="danger__item">
                <div class="danger__icon">
                    <img src="./img/danger-icon2.png" alt="icon">
                </div>
                <p class="danger__icon-text -operator">
                    Для подтверждения заказа с вами свяжется оператор
                </p>
            </div>
            <div class="danger__item">
                <div class="danger__icon">
                    <img src="./img/danger-icon1.png" alt="icon">
                </div>
                <p class="danger__icon-text -payment">
                    Оплачивайте только при получении. Никаких предоплат!
                </p>
            </div>
        </div>
    </div>
</section>