<section class="diagnostic block diagnostic-top">
    <div class="container">
        <h2 class="title">Ежедневно диагноз “инвалидность” из-за запущенных болезней<br> суставов ставят 5000&nbsp;человек по&nbsp;всему миру!</h2>

        <div class="diagnostic__items">
            <div class="diagnistic__item">
                <div id="diagnostic__diagram-1" class="diagnostic__diagram">
                    <span class="diagnostic__diagram-text">населения</span>
                </div>
                <div class="diagnostic__title">Диагностировали проблемы<br> с суставами
                </div>
            </div>
            <div class="diagnistic__item">
                <div id="diagnostic__diagram-2" class="diagnostic__diagram">
                    <span class="diagnostic__diagram-text">населения</span>
                </div>
                <div class="diagnostic__title">Болеют, но никогда<br>
                не обращались к врачам
                </div>
            </div>
            <div class="diagnistic__item">
                <div id="diagnostic__diagram-3" class="diagnostic__diagram">
                    <span class="diagnostic__diagram-text">населения</span>
                </div>
                <div class="diagnostic__title">На столько ежегодно увеличивается<br> количество больных
                </div>
            </div>
        </div>

        <div class="diagnostic__grey-text">
            * Данные из открытых источников
        </div>
    </div>
</section>

<section class="diagnostic block diagnostic-bottom">
    <div class="container">
        <div class="diagnostic__bottom">
            <h2 class="diagnostic__bottom-title">При запущенных болезнях может<br> помочь только радикальный<br> способ борьбы — хирургический!</h2>
        </div>
    </div>
</section>