<section class="composition">
    <div class="container block">
        <h2 class="composition__title title">
            Pantoflex — целительная сила натуральных&nbsp;компонентов
        </h2>
        <div class="composition__components">

            <div class="composition__component-box">
                <div class="composition__image-frame composition__quoter">

                    <div class="composition__quoter-animation">
                        <svg class="composition__circle composition__circle-red" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="94"></circle>
                        </svg>
                    </div>

                    <div class="composition__image-background">
                        <div class="composition__image-box -macadmia">
                            <img src="./img/composition-1.png" alt="component">
                        </div>
                    </div>
                </div>
                <h3 class="composition__component-name">
                    Macadamia integrifolia
                    <span>(Макадамия)</span>
                </h3>
                <p class="composition__description">
                    сильнейший антиоксидант,
                    возвращает суставам подвижность, облегчает боль, снимает воспаление,
                    борется с&nbsp;артритами
                </p>
            </div>
            <div class="composition__component-box">
                <div class="composition__image-frame composition__quoter">
                    <div class="composition__quoter-animation">
                        <svg class="composition__circle " viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="94"></circle>
                        </svg>
                    </div>
                    <div class="composition__image-background">
                        <div class="composition__image-box -aloe">
                            <img src="./img/composition-2.png" alt="component">
                        </div>
                    </div>
                </div>
                <h3 class="composition__component-name">
                    Aloe vera
                    <span>(Алоэ вера)</span>
                </h3>
                <p class="composition__description">
                    возвращает подвижность пораженным суставам,
                    оказывает регенерирующее
                    и&nbsp;противовоспалительное действие
                </p>
            </div>
            <div class="composition__component-box -custom-width">
                <div class="composition__image-frame composition__quoter">
                    <div class="composition__quoter-animation">
                        <svg class="composition__circle " viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="94"></circle>
                        </svg>
                    </div>
                    <div class="composition__image-background">
                        <div class="composition__image-box -allatoin">
                            <img src="./img/composition-3.png" alt="component">
                        </div>
                    </div>
                </div>
                <h3 class="composition__component-name">
                    Allantoin
                    <span>(Аллантоин)</span>
                </h3>
                <p class="composition__description">
                    снимает отечность, уменьшает воспаление,
                    снижает болевые ощущения
                </p>
            </div>
            <div class="composition__component-box">
                <div class="composition__image-frame composition__quoter">
                    <div class="composition__quoter-animation">
                        <svg class="composition__circle " viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="94"></circle>
                        </svg>
                    </div>
                    <div class="composition__image-background">
                        <div class="composition__image-box -pepper">
                            <img src="./img/composition-4.png" alt="component">
                        </div>
                    </div>
                </div>
                <h3 class="composition__component-name">
                    Capsicum ánnuum
                    <span>(Стручковый перец)</span>
                </h3>
                <p class="composition__description">
                    обезболивает, уменьшает отек, улучшает микроциркуляцию, снижает мышечное
                    напряжение
                </p>
            </div>

        </div>
    </div>
</section>