<section class="feedbacks block" id="feed">
    <div class="container">
        <h2 class="title feedbacks__title">Отзывы о креме для суставов Pantoflex </h2>

        <div class="feedbacks__items feedbacks-items">

            <div class="feedbacks__item feedbacks-item">
               <div class="feedbacks-item__top item__top-1">
                   <h4 class="feedbacks-item__title">“Дедушка избавился от костыля!”</h4>
                   <p class="feedbacks-item__descr">Мой дедушка уже около 20 лет не мог нормально ходить из-за болей в колене. Перепробовал всевозможные бальзамы - зеленый, белый, оранжевый, черный, красный, но результат от них был минимальный. Увидел рекламу крема Пантофлекс в интернете и решил купить дедушке. Он втирает небольшое количество мази утром и вечером. Представляете, уже через 11 дней он ходил без костыля! Дедушка не может нарадоваться! </p>
               </div>
                <div class="feedbacks-item__bottom">
                    <div class="feedbacks-item__img"><img src="img/feedback-1.png" alt=""></div>
                    <p class="feedbacks-item__name">Наронг, 27 лет</p>
                    <p class="feedbacks-item__prof">студент</p>
                </div>
                <div class="shadow"></div>
                <div class="open-slide">+</div>
            </div>

            <div class="feedbacks__item feedbacks-item">
              <div class="feedbacks-item__top item__top-2">
                  <h4 class="feedbacks-item__title">“Чувствую себя вдвое моложе!”</h4>
                  <p class="feedbacks-item__descr">Я раньше занималась муай-тай. Хоть и&nbsp;на любительском уровне, но травмировала ноги серьезно. Конечно, последствия проявились позже - после 50-ти.<br>
                      От прописанных врачами мазей боль уходила только на время, а потом опять возвращалась. Пробовала спастись бальзамами, охлаждающими пластырями
                      и&nbsp;даже несколько лет пила чай из цветков хризантемы. Если бы не моя подруга, наверное, и&nbsp;дальше бы мучилась, благо
                      она&nbsp;посоветовала мне этот крем. Боли
                      в&nbsp;суставах практически ушли и&nbsp;я чувствую себя вдвое моложе!
                  </p>
              </div>
                <div class="feedbacks-item__bottom">
                    <div class="feedbacks-item__img"><img src="img/feedback-2.png" alt=""></div>
                    <p class="feedbacks-item__name">Сурия, 56 лет</p>
                    <p class="feedbacks-item__prof">пенсионерка</p>
                </div>
                <div class="shadow"></div>
                <div class="open-slide">+</div>
            </div>

            <div class="feedbacks__item feedbacks-item">
               <div class="feedbacks-item__top item__top-3">
                   <h4 class="feedbacks-item__title">“К пальцам вернулась подвижность!”</h4>
                   <p class="feedbacks-item__descr">Хочу порекомендовать крем всем, кого беспокоят суставы кисти и&nbsp;пальцев рук. Он вернул моим пальцам практически полную подвижность и&nbsp;восстановил сухожилия! Теперь я снова могу в удовольствие играть на цитре, а не через боль, как это было раньше. Заказывала его здесь, насколько качественная продукция в других местах сказать не могу.</p>
               </div>
                <div class="feedbacks-item__bottom">
                    <div class="feedbacks-item__img"><img src="img/feedback-3.png" alt=""></div>
                    <p class="feedbacks-item__name">Чайлай, 44 года</p>
                    <p class="feedbacks-item__prof">музыкант</p>
                </div>
                <div class="shadow"></div>
                <div class="open-slide">+</div>
            </div>

        </div>

        <h3 class="feedbacks__subtitle"><span>*</span> Результаты могут отличаться в зависимости  от индивидуальных особенностей</h3>

        <div class="feedbacks__form feedbacks-form">
            <h3 class="feedbacks-form__title">Хотите также поделиться своим мнением о креме Пантофлекс?<br> Добавьте отзыв в форме ниже. </h3>
            <div class="feedbacks-form__inputs">
                <div class="feedbacks-form__name feedbacks-form__inp"><input type="text" placeholder="Введите ваше имя" class="inp-name"></div>
                <div class="feedbacks-form__age feedbacks-form__inp"><input type="text" placeholder="Укажите свой возраст" class="inp-age"></div>
                <div class="feedbacks-form__feedback feedbacks-form__inp"><input type="text" placeholder="Ваш отзыв" class="inp-feedback"></div>
                <label class="feedbacks-form__file">
                    <input type="file" class="file">
                </label>
            </div>
            <button class="red-button feedbacks-form__btn">Отправить</button>
        </div>

        <div class="feedbacks__popup">
            <div class="feedbacks__popup-content">
                Отзыв отправлен на модерацию. Спасибо!<br>
                Нецензурная лексика или реклама будут удалены.
                <div class="feedbacks__popup-close">x</div>
            </div>
        </div>

    </div>
</section>