<div class="ever-popup-build">
    <div class="header popup" id="cloneThis">
<div class="header__order-product popup__man-prod">
    <div class="header__product-box popup__product-box">
        <div class="header__man popup__man">
            <img src="./img/header-ded.png" alt="oldman">
        </div>
        <div class="header__product popup__product">
            <img src="./img/product.png" alt="product">
        </div>
    </div>
</div>

<div class="header__order-form popup__buy-form order-form">
    <div class="order-form__price-box popup__price-box">
        <div class="order-form__price -old">
            <p>Старая цена:</p>
            <div class="order-form__price-value">
                <span class="x_price_previous ">1980</span> <span class="x_currency">руб</span>
            </div>
        </div>
        <div class="order-form__price">
            <p>Новая цена:</p>
            <div class="order-form__price-value">
                <span class="x_price_current">990</span> <span class="x_currency">руб</span>
            </div>
        </div>
    </div>
    <p class="order-form__timer-title">Осталось до конца акции:</p>
    <div class="order-form__ever-timer">
        <div class="order-form__num-box">
            <span class="hours">00</span>
        </div>
        <div class="order-form__num-box -center">
            <span class="minutes">22</span>
        </div>
        <div class="order-form__num-box">
            <span class="seconds">14</span>
        </div>
    </div>
    <form action="/submit" method="post" class="x_order_form popup__form-fields">
        <label class="popup__input-frame -name">
            <input type="text" name="name" required autocomplete="name" placeholder="Моё имя">
        </label>
        <label class="popup__input-frame -phone">
            <input type="tel" name="phone" required autocomplete="tel" placeholder="Мой телефон">
        </label>
    </form>
    <button class="order-form__button red-button">
        Заказать
        <span>со скидкой</span>
    </button>
    <p class="order-form__secure">Ваши данные защищены!</p>
</div>
    </div>
</div>